body{
    background: url('../assets/home-back.jpg');
    background-size: cover;
    background-position: center;
    display: inline !important;
    user-select: none;
    background-attachment: fixed;
}
html::-webkit-scrollbar {
    width: 8px !important;
}
html::-webkit-scrollbar-track {
background: transparent !important; 
}
html::-webkit-scrollbar-thumb {
    background: #88888867 !important; 
    border-radius:10px !important;
}